/* .homeTitle {
  text-align: center;
  padding: 30px 0;
} */
/* using webkit makes it easy to make masonry grid layout and many more
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
} */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  opacity: 0;
  /* border-radius: 10px; */
  background-color: rgb(235, 235, 235);
}
::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.542);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(70, 70, 70, 0.425);
}
.card {
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  cursor: pointer;
  max-width: 100%;
}
/* 
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
} */
/* .model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: content;
  align-items: center;
  background-color: rgb(24, 24, 24);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}
.model.open svg {
  position: fixed;
  top: 80px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  cursor: pointer;
} */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  /* background-color: #e8e8e8; */
  background-color: rgba(94, 94, 94, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hovereffect h2 {
  color: rgb(228, 228, 228);
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: rgba(97, 97, 97, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.hovereffect span.info {
  text-decoration: none;
  display: inline-block;
  color: rgb(223, 222, 222);
  /* border: 1px solid #fff; */
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* margin: 0 0 25%; */
  /* padding-top: 7px 14px; */
}

.hovereffect span.info:hover {
  color: #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover span.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

/* <------------------------- fooooooterrrrr--------------------------------> */

.myfoot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: #fff;
  text-align: center;
}
